<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.input :product_id, collection: Product.all, label: false %></td>
  <td><%= f.input :quantity, label: false %></td>
</tr>
