<div class="container p-5 mb-5 mt-5 rounded" style="background-color: rgba(244, 244, 244, 0.95);" >
  <div class="container p-5">
    <h1>Edit Basket</h1>

    <%= render 'baskets/form', baskets: @baskets %>
  </div>
</div>
