<div class="container p-5 mb-5 mt-5" style="background-color: #afcea4; opacity: 0.95;">
  <div class="container p-5">
    <h1>Create New Basket</h1>
    <%= render 'baskets/form', baskets: @baskets %>
  </div>
</div>

