// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #7c9982;
$light-red:  #b39d96;
$light-yellow: #e7caa9;
$green2: #afcea4;

