// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: rgba(123, 239, 178, 0.4);
$light-red:  rgba(255, 0, 0, 0.3);
$light-yellow: rgba(255, 255, 153, 0.4);

