<div class="banner" >
  <p class="text-center">Farm-Me</p>
  <h5 class="text-center">The community supporting the farmer, supporting the community</h5>
  <div class="container w-50">
      <%= form_tag baskets_path, method: :get, class: 'm-5' do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Find a basket"
          %>
        <br>
        <div class="row justify-content-center mb-3">
        <%= submit_tag "Search", class: "btn btn-success" %>
        </div>
      <% end %>
   </div>
</div>
