<div>
  <%= render 'pages/carousel' %>
</div>

<div class="row p-5 justify-content-around">
  <div class="card" style="width: 18rem; background-color: #afcea4;">
    <h3 class="text-center mt-2">Organic Farming</h3>
    <div class="row justify-content-center p-1">
      <%= image_tag "farm.jpg", height: 200, width: 280, crop: :fill %>
    </div>
    <div class="card-body">
      <p class="card-text">Organic farming, agricultural system that uses ecologically based pest controls and biological fertilizers derived largely from animal and plant wastes.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; background-color: #afcea4;">
    <h3 class="text-center mt-2">Farmers</h3>
    <div class="row justify-content-center p-1">
      <%= image_tag "farmer.jpg", height: 200, width: 280, crop: :fill %>
    </div>
    <div class="card-body">
      <p class="card-text">More and more producers are choosing to grow organic products around the world. Farmers are discovering a new business model.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; background-color: #afcea4;">
    <h3 class="text-center mt-2">About Us</h3>
    <div class="row justify-content-center p-1">
      <%= image_tag "tech-farm.jpg", height: 200, width: 280, crop: :fill %>
    </div>
    <div class="card-body">
      <p class="card-text">Farm-Me is a website specialized in creating links between producers and their final consumers. Streamlining delivery and delivering fresh products every week.</p>
    </div>
  </div>
</div>





