<div class="container p-5 mb-5 mt-5 text-center rounded" style="background-color: rgba(244, 244, 244, 0.95);">
  <div>
    <%= render partial:'shared/orderlist', locals: {subscriptions: @subscriptions, farmer: false}%>
  </div>
</div>
