<div class="container p-5 mb-5 mt-5 text-center" style="background-color: #afcea4; opacity: 0.95;">
  <div>
    <%= render partial:'shared/orderlist', locals: {subscriptions: @subscriptions, farmer: false}%>
  </div>
</div>
