.basket-cards-sidescroll {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  .card-basket {
    // flex: 0 0 auto;
    width: 300px;
    background-color: white;
  }
}
