.home-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 24px;
  margin-top: -200px;


}

.card {
  background-color: #afcea4;
  border-radius: 8px;
  border: none;
}

